DisplayTextFile/obj/
DisplayTextFile/bin/Debug/Mono.Data.Sqlite.dll
DisplayTextFile/bin/Debug/MySql.Data.dll
DisplayTextFile/bin/Debug/Newtonsoft.Json.dll
DisplayTextFile/bin/Debug/TShockAPI.dll
DisplayTextFile/bin/Debug/TerrariaServer.exe
